.container {
  margin: 15px;
  position: relative;
}

.element {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 1000px;
  margin: 15px;
  background-color: crimson;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}
